*{
    margin: 0px;
    padding: 0px;
}
#meta-quest{
display: flex;
justify-content: center;
background-color: black;
}
.container{
    width: 1500px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}
    .nav-bar{
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 5px rgba(161, 43, 142, 0.37);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 5px;
}
h1{
    color: black;
    font-family: 'Staatliches', cursive;
    font-size: 190px;
    text-shadow: -3px 3px 1px rgba(80, 22, 70, 0.788);
    display: block;
    width: 400px;

}
.cont-1 div{
    
    flex: 1;
    justify-content: center;
    align-items: center;
}

.fundo-vidro{
    padding: 40px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fundo-vidro div{
    display: flex;
    flex: 1;
}
.meta-futuro{
    padding: 30px;
    display: flex;
    flex-direction: column;

}
.cont-1{
    display: flex;
    align-items: center;
}
.oculus{
    width: 800px;
}

.cont-2 div{
    margin-top: 70px;
    border-width: 3px;
    font-size: 40px;
    font-family: 'Smooch Sans', sans-serif;

  border-left: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(66, 8, 44), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    margin: 5px;
    padding-left: 10px;
}
.nav-bar{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: rgb(0, 0, 0);
    z-index: +1;
    justify-content: space-between;
    align-items: center;
}
.cont-1 img{
    width: 60%;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 35px;
}
.nav-bar nav{
    margin-left: 20px;
    margin-right: 20px;
}
.nav-bar nav a{
    margin-left: 3px;
    margin-right: 3px;
    transition: 200ms linear; 
}
.nav-bar nav a img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.video-container{
    position: relative;
    overflow:hidden;
    padding-top: 56.25%;
}
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.limita-video{
    margin-top: 100px;
    width: 80%;
    border: 3px solid rgb(82, 32, 82);
    border-radius: 5px;
}
h2{
    text-align: center;
    font-style: italic;
    color: rgb(68, 68, 68);
    font-family: 'Smooch Sans', sans-serif;
    margin-bottom: 100px;
    padding: 30px;
}
p{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border: 3px solid rgb(82, 32, 82);
    margin-bottom: 10px;
}
.prod-inds{
    width: 60%;
    height: 300px;   
    display: flex;
    justify-content: center;

    border-left: solid;
    border-right: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(66, 8, 44), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    margin: 5px;
}
label{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
}
input[type=submit]{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(124,34,113,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(124,34,113,1) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(124,34,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#7c2271",GradientType=1);
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
}
.opcoes-menu a:hover{
    background-color: white;
    color: black;
    font-size: 38px;
}
form{
    justify-content: c;
    flex-direction: column;
    display: flex;
    margin-bottom: 50px;
}
@media (max-width:1200px){
    .fundo-vidro{
        width: 800px;
    }
    h1{
        font-size: 130px;
    }
}
@media (max-width:800px){
    .nav-bar{
        display: none;
    }
    .cont-1 div{
        flex-direction: column;
        justify-content: center;
    }
    .cont-2{
        justify-content: center;
        flex-direction: column;
        width: 500px;

    }
    .fundo-vidro{
        width: 600px;
    }
    h1{
        text-align: center;
        font-size: 80px;
    }
}
@media (max-width:500px) {
    .fundo-vidro{
        width: 300px;
    }
    .cont-2 div{
        margin: auto;
        width: 200px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    h1{
        text-align: center;
        font-size: 60px;
    }
    label{
        text-align: center;
    }
}